@font-face {
  font-family: 'Minecraft';
  src: url('fonts/font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'Minecraft', sans-serif !important;
}